@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);

$Font-size: 13px;

$Family: 'Manrope';
$Weight-normal: 500;
$Weight-bold: 700;

.container {
  background-color: $Light-Grayish-Blue;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: $Family;
  font-size: $Font-size;
}

.card {
  background-color: white;
  width: 85%;
  border-radius: 8px;
  margin: 0 auto;
  display: grid;
  grid:
    'hero'
    'body'
    'moreInfo' / 1fr;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 5px rgba($color: $Grayish-Blue, $alpha: 0.2);

  &__hero {
    grid-area: hero;
  }
  &__image {
    width: 100%;
  }

  &__body {
    padding: 30px 30px 20px;
    grid-area: body;
  }

  &__title {
    font-size: $Font-size * 1.2;
    margin-bottom: 16px;
    color: $Very-Dark-Grayish-Blue;
    font-weight: $Weight-bold;
    line-height: $Font-size * 2.2;
  }

  &__description {
    color: $Desaturated-Dark-Blue;
    font-size: $Font-size;
    line-height: $Font-size * 1.5;
  }
}

.moreInfo {
  position: relative;
  grid-area: moreInfo;
}

.author {
  display: flex;
  // width: 100%;
  height: 65px;
  padding: 0 30px;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: relative;

  &__image {
    width: 40px;
    border-radius: 50%;
  }

  &__name {
    font-size: $Font-size;
    color: $Very-Dark-Grayish-Blue;
  }

  &__publication_date {
    font-size: $Font-size;
    color: $Grayish-Blue;
    font-weight: $Weight-normal;
    margin-top: 2px;
  }

  &__IconShareContainer {
    width: 35px;
    height: 35px;
    align-self: center;
    background-color: $Light-Grayish-Blue;
    padding: 8px;
    border-radius: 50%;
    border: none;
    position: absolute;
    right: 40px;
    // top: 0;
    z-index: 2;

    &:focus {
      outline: none;
    }
  }
  &__shareButton {
    width: 80%;
    height: 80%;
  }
}

.icons {
  background-color: $Very-Dark-Grayish-Blue;
  width: 100%;
  padding: 0 30px 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  color: $Grayish-Blue;
  display: none;
  position: absolute;
  height: 100%;
  transform: translateY(-100%);

  &__word {
    letter-spacing: 6px;
  }
  &__container {
    display: flex;
    gap: 15px;
    padding-left: 5px;

    svg {
      width: 20px;

      &:not(:root) {
        overflow: visible;
      }
    }
  }
}

.showIcons {
  display: flex;
}

.buttonChangeColor {
  background-color: $Desaturated-Dark-Blue;

  svg path {
    fill: white;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    grid:
      'hero body'
      'hero moreInfo'/ 40% 60%;
    max-width: 900px;
    overflow: visible;

    &__hero {
      overflow: hidden;
      height: 100%;
      img {
        width: 120%;
      }
    }
    &__body {
      padding: 60px 60px 20px 60px;
    }

    &__title {
      font-size: 1.8em;
    }

    &__description {
      font-size: 1.1em;
      line-height: 1.8em;
    }
  }

  .author {
    padding: 0 60px;

    &__image {
      width: 50px;
    }

    &__name {
      font-size: 1.5em;
    }

    &__publication_date {
      @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

      $Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
      $Desaturated-Dark-Blue: hsl(214, 17%, 51%);
      $Grayish-Blue: hsl(212, 23%, 69%);
      $Light-Grayish-Blue: hsl(210, 46%, 95%);

      $Font-size: 13px;

      $Family: 'Manrope';
      $Weight-normal: 500;
      $Weight-bold: 700;

      .container {
        background-color: $Light-Grayish-Blue;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        font-family: $Family;
        font-size: $Font-size;
      }

      .card {
        background-color: white;
        width: 85%;
        border-radius: 8px;
        margin: 0 auto;
        display: grid;
        grid:
          'hero'
          'body'
          'moreInfo' / 1fr;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 0 0 5px rgba($color: $Grayish-Blue, $alpha: 0.2);

        &__hero {
          grid-area: hero;
        }
        &__image {
          width: 100%;
        }

        &__body {
          padding: 30px 30px 20px;
          grid-area: body;
        }

        &__title {
          font-size: $Font-size * 1.2;
          margin-bottom: 16px;
          color: $Very-Dark-Grayish-Blue;
          font-weight: $Weight-bold;
          line-height: $Font-size * 2.2;
        }

        &__description {
          color: $Desaturated-Dark-Blue;
          font-size: $Font-size;
          line-height: $Font-size * 1.5;
        }
      }

      .moreInfo {
        position: relative;
        grid-area: moreInfo;
      }

      .author {
        display: flex;
        // width: 100%;
        height: 65px;
        padding: 0 30px;
        margin-bottom: 10px;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        position: relative;

        &__image {
          width: 40px;
          border-radius: 50%;
        }

        &__name {
          font-size: $Font-size;
          color: $Very-Dark-Grayish-Blue;
        }

        &__publication_date {
          font-size: $Font-size;
          color: $Grayish-Blue;
          font-weight: $Weight-normal;
          margin-top: 2px;
        }

        &__IconShareContainer {
          width: 35px;
          height: 35px;
          align-self: center;
          background-color: $Light-Grayish-Blue;
          padding: 8px;
          border-radius: 50%;
          border: none;
          position: absolute;
          right: 40px;
          // top: 0;
          z-index: 2;

          &:focus {
            outline: none;
          }
        }
        &__shareButton {
          width: 80%;
          height: 80%;
        }
      }

      .icons {
        background-color: $Very-Dark-Grayish-Blue;
        width: 100%;
        padding: 0 30px 10px;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        color: $Grayish-Blue;
        display: none;
        position: absolute;
        height: 100%;
        transform: translateY(-100%);

        &__word {
          letter-spacing: 6px;
        }
        &__container {
          display: flex;
          gap: 15px;
          padding-left: 5px;

          svg {
            width: 20px;

            &:not(:root) {
              overflow: visible;
            }
          }
        }
      }

      .showIcons {
        display: flex;
      }

      .buttonChangeColor {
        background-color: $Desaturated-Dark-Blue;

        svg path {
          fill: white;
        }
      }

      @media screen and (min-width: 1440px) {
        .card {
          grid:
            'hero body'
            'hero moreInfo'/ 40% 60%;
          max-width: 900px;
          overflow: visible;

          &__hero {
            overflow: hidden;
            height: 100%;
            img {
              width: 120%;
            }
          }
          &__body {
            padding: 60px 60px 20px 60px;
          }

          &__title {
            font-size: 1.8em;
          }

          &__description {
            font-size: 1.1em;
            line-height: 1.8em;
          }
        }

        .author {
          padding: 0 60px;

          &__image {
            width: 50px;
          }

          &__name {
            font-size: 1.5em;
          }

          &__publication_date {
            font-size: 1.2em;
          }
        }

        .icons {
          border-radius: 10px;
          right: 0;
          width: auto;
          height: 65px;
          padding: 10px 30px;
          margin: 0 auto;
          transform: translate(27%, -220%);
          box-shadow: 0 5px 5px rgba($color: $Light-Grayish-Blue, $alpha: 0.8);

          &::before {
            content: '';
            width: 30px;
            height: 30px;
            background-color: $Very-Dark-Grayish-Blue;
            position: absolute;
            bottom: -15px;
            right: 45%;
            transform: rotate(45deg);
          }
        }
      }

      font-size: 1.2em;
    }
  }

  .icons {
    border-radius: 10px;
    right: 0;
    width: auto;
    height: 65px;
    padding: 10px 30px;
    margin: 0 auto;
    transform: translate(27%, -220%);
    box-shadow: 0 5px 5px rgba($color: $Light-Grayish-Blue, $alpha: 0.8);

    &::before {
      content: '';
      width: 30px;
      height: 30px;
      background-color: $Very-Dark-Grayish-Blue;
      // border: 1px solid yellow;
      position: absolute;
      bottom: -15px;
      right: 45%;
      transform: rotate(45deg);
    }
  }
}
