@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
$Desaturated-Red: hsl(0, 36%, 70%);
$Soft-Red: hsl(0, 93%, 68%);
$Dark-Grayish-Red: hsl(0, 6%, 24%);
$Grad1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$Grad2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$Font-size: 16px;

$Family: 'Josefin Sans';
$Weights-light: 300;
$Weights-normal: 400;
$Weights-bold: 600;

.container {
  font-size: $Font-size;
  font-family: $Family;
  min-height: 100vh;
  width: 100%;
  display: grid;
  gap: 10px;
  grid:
    'header' 80px
    'hero' 240px
    'section' /1fr;
  justify-items: center;
  background-image: $Grad1;
}

.header {
  padding: 20px 5vw;
  justify-self: start;
  grid-area: header;

  svg {
    width: 158px;
    height: 33px;
  }
}

.picture {
  grid-area: hero;
  img {
    width: 100%;
    max-width: 500px;
  }
}
.section {
  padding: 20px 12px;
  text-align: center;
  grid-area: section;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    word-spacing: 0.5em;
    letter-spacing: 0.2em;
    color: $Dark-Grayish-Red;

    span {
      color: $Desaturated-Red;
      font-weight: $Weights-light;
    }
  }
}

.section_p {
  color: $Desaturated-Red;
  // padding: 30px 18px;
  line-height: 1.5em;
}

.form {
  position: relative;
  display: inline-block;
  background: transparent;
  width: 95%;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid $Desaturated-Red;
}

.emailInput {
  background-image: $Grad1;
  border: none;
  width: 100%;
  filter: opacity(0.6);

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: $Desaturated-Red;
  }
}

.button {
  position: absolute;
  background-image: $Grad2;
  border: none;
  border-radius: 30px;
  width: 60px;
  height: 48px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 5px 25px -5px $Desaturated-Red;
  filter: opacity(1);

  &:focus {
    outline: none;
  }

  svg {
    width: 12px;
  }
}

.iconError {
  width: 24px;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

.invalid {
  border: 2px solid $Soft-Red;
}

.warning {
  color: $Soft-Red;
  padding: 10px;
  font-size: 0.8em;
}

@media screen and (min-width: 1440px) {
  .container {
    grid:
      '. header hero' 20vh
      '. section hero' 40vh
      '. section hero' 40vh/15% 40% 40%;
    align-content: flex-end;
    background-image: url('@images/BACSM/bg-pattern-desktop.svg'), $Grad1;
    background-size: contain;
  }

  .header {
    padding-left: 0;
    align-self: center;
  }
  .picture {
    width: 100%;
    img {
      height: 100vh;
      min-width: 100%;
    }
  }

  .section {
    justify-items: flex-start;
    text-align: start;
    padding-right: 100px;
    gap: 20px;

    h1 {
      font-size: 4em;
    }
    p {
      padding-right: 20px;
    }
  }

  .form {
    width: 90%;
    align-self: flex-start;
  }
  .emailInput:invalid {
    border: 2px solid $Soft-Red;
  }
}
