@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

//Typography;

$Font-size-Overview-Card-Headings: 14px;
//Font;
$Family: 'Inter';
$Weight1: 400;
$Weight2: 700;

.container {
  display: grid;
  grid: 1fr /80%;
  justify-content: center;
  justify-items: center;
  max-width: 1440px;
  font-family: $Family;
  position: relative;
  z-index: 5;
  margin: 0 auto;
}

.overviewCards {
  margin: 3.5em 0;
}
